.cd-slider-wrapper
      ul.cd-slider
        li.is-visible
          .cd-half-block.image
          .cd-half-block.content
            div
              h2 Pointy Slider
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit ullam voluptatum tenetur ab, non beatae, impedit dolorem itaque voluptates facilis necessitatibus suscipit dolor rerum dolores dignissimos alias facere sunt aliquid.
              a.btn(href='https://codyhouse.co/?p=7404') Article & Download
        // .cd-half-block.content
        li
          .cd-half-block.image
          .cd-half-block.content.light-bg
            div
              h2 Slide Number 2
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit ullam voluptatum tenetur ab, non beatae, impedit dolorem itaque voluptates facilis necessitatibus suscipit dolor rerum dolores dignissimos alias facere sunt aliquid.
          // .cd-half-block.content
        li
          .cd-half-block.image
          .cd-half-block.content
            div
              h2 Slide Number 3
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugit ullam voluptatum tenetur ab, non beatae, impedit dolorem itaque voluptates facilis necessitatibus suscipit dolor rerum dolores dignissimos alias facere sunt aliquid.
          // .cd-half-block.content
        li
          .cd-half-block.image
          .cd-half-block.content
            div
              h2 Slide Number 4
              p